:root {
  --header-bg-color: #ffffff; /* Blue */
  --footer-bg-color: #ffffff; /* Green */
  --primary-text-color: #2c3e50; /* Dark Blue */
  --secondary-bg-color: #ecf0f1; /* Light Gray */
  --button-bg-color: #e74c3c; /* Red */
  --button-hover-color: #c0392b; /* Dark Red */
  --link-color: #3498db; /* Blue */
  --link-hover-color: #dfe4e7; /* Dark Blue */
  --border-radius: 8px;
  line-height: 1.5;
  font-weight: 400;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

#root {
  max-width: 1200px;
  margin: 20px auto;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  background-color: var(--header-bg-color);
  color: white;
  padding: 1rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

nav a:hover,
nav a:focus {
  background-color: var(--link-hover-color);
}

footer {
  background-color: var(--footer-bg-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.button {
  background-color: var(--button-bg-color);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
  max-height: 70vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}





