*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: bold;
    box-sizing: border-box;
}

body{
    background: #ff000000;
    background-color: rgb(54, 51, 51);
    color: white;
}

.header{
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}

.nav-menu li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav-menu li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.nav-menu li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f0a910;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nav-menu li:hover::after{
    width: 100%;
}

.board-container {
    background-color: rgb(27, 26, 26);
    width: 70vh;
    height: 70vh; 
    margin: auto;
    padding: 1rem;
    border: 1px solid #ffffff;
}